footer {
    background: black;
    margin-top: auto;
    height: 70px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

footer .music-info {
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .music-info img {
    height: 60px;
}

footer .music-info h1 {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;

}

footer .music-info h2 {
    font-size: 12px;
    margin-left: 5px;
}

footer .buttons {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

footer .buttons .btn {
  color: white; /* White text */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  background: transparent;
  border: none;
}

footer .buttons .btn:hover {
  color: #e84f17;
}

footer .navbar {
    height: 1px;
    width: 40%;
    color: white;
    margin-left: 10px;
}

